<!DOCTYPE html>
<html lang='utf-8'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/main.css">
        <script type="text/javascript" src="../static/js/jquery.3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/js/layer.js"> </script>
        <script type="text/javascript" src="../static/js/main.js"> </script>
        <title>百度登录模拟</title>
    </head>
    <body>
    <div class="header">
        <div class="header-con">
            <div class="">
                <a href="javascript:;" class="blogin" onclick="ShowLoginBox()">登录</a>
            </div>
            <div class="">
                <a href="javascript:;" class="bregis" onclick="ShowLoginBox()">注册</a>
            </div>
        </div>
    </div>
    <div class="loginbox">
        <div class="login-item">
            <input type="text" class="textUserName">
        </div>
        <div class="login-item">
            <input type="password" class="textPwd">
        </div>
        <div class="login-item">
            <a href="javascript:;" onload="Login()">登录</a>
        </div>
    </div>
    </body>
</html>
