{%extends "main.html"%}

<body>
    {%block content%}
    <div class="article-list">
        <div class="item">
            <a href="article.html" class="title">
                今天吃了吗
            </a>
            <div class="status">
                发布：20170901  阅读：9999 标签：生活
            </div>
            <div class="content">
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
            </div>
        </div>
        <div class="item">
            <a href="article.html" class="title">
                今天好吗
            </a>
            <div class="status">
                发布：20170901  阅读：9999 标签：生活
            </div>
            <div class="content">
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
                今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日子今天确实是个好日
                子今天确实是个好日子今天确实是个好日子
            </div>
        </div>
    </div>
    {%end%}
</body>
